* {
  box-sizing: border-box;
}

html {
  background-image: url("images/sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

/* React Calendar Styles */
time {
  color: white;
}

.react-calendar__month-view__weekdays__weekday {
  color: white;
}

.react-calendar__navigation__label {
  color: white;
}
/* React Calendar Styles */
